* {
    box-sizing: border-box;
}

body {
    font-family: "Karla", sans-serif;
    margin: 0;
}

.header {
    display: flex;
    align-items: center;
    margin-top: 30px;
    height: 65px;
    background: linear-gradient(90deg, #1a3b6d 1.18%, #3a81c4 100%);
    color: white;
    width: 600px;
    padding: 20px;
}

.header--image {
    height: 100%;
    margin-right: 6px;
}

.header--title {
    font-size: 1.25rem;
    margin-right: auto;
}

.header--project {
    font-size: 0.75rem;
    font-weight: 500;
}

.form {
    display: flex;
    flex-direction: column;
    width: 600px;
}

.form--input {
    font-family: "Karla", sans-serif;
    border-radius: 5px;
    border: 1px solid #D5D4D8;
    height: 40px;
    margin: 10px 0;
    text-indent: 5px;
}

.form--button {
    font-family: "Karla", sans-serif;
    border-radius: 5px;
    background: linear-gradient(90deg, #1a3b6d 1.18%, #3a81c4 100%);
    color: white;
    border: none;
    height: 40px;
    margin-bottom: 10px;
    cursor: pointer;
}

.meme {
    position: relative;
}

.meme--image {
    width: 600px;
    border-radius: 3px;
}

.meme--text {
    position: absolute;
    width: 80%;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    margin: 15px 0;
    padding: 0 5px;
    font-family: impact, sans-serif;
    font-size: 2em;
    text-transform: uppercase;
    color: white;
    letter-spacing: 1px;
    text-shadow: 2px 2px 0 #000, -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 0 2px 0 #000, 2px 0 0 #000, 0 -2px 0 #000, -2px 0 0 #000, 2px 2px 5px #000;
}

.bottom {
    bottom: 0;
}

.top {
    top: 0;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media (max-width: 800px) {
    .meme--image {
        width: 500px !important;
    }
    header {
        width: 500px !important;
    }
    .form {
        width: 500px !important;
    }
    main {
        width: 500px;
    }
}

@media (max-width: 500px) {
    .meme--image {
        width: 420px !important;
    }
    header {
        width: 420px !important;
    }
    .form {
        width: 420px !important;
    }
    main {
        width: 420px;
    }
}

@media (max-width: 499px) {
    .meme--image {
        width: 300px !important;
    }
    header {
        width: 300px !important;
    }
    .form {
        width: 300px !important;
    }
    main {
        width: 300px;
    }
    .meme--text {
        font-size: 1.5em;
    }
}
