* {
    box-sizing: border-box;
}

body {
    font-family: "Karla", sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
}

main {
    padding: 36px;
}

.header {
    display: flex;
    align-items: center;
    margin-top: 30px;
    height: 65px;
    background: linear-gradient(90deg, #1a3b6d 1.18%, #3a81c4 100%);
    color: white;
    max-width: 700px;
    padding: 20px;
}

.header--image {
    height: 100%;
    margin-right: 6px;
}

.header--title {
    font-size: 1.25rem;
    margin-right: auto;
}

.header--project {
    font-size: 0.75rem;
    font-weight: 500;
}

.form {
    display: grid;
    grid-template: 40px 40px / 1fr 1fr;
    gap: 17px;
    margin-bottom: 17px;
}

.form--input {
    font-family: "Karla", sans-serif;
    border-radius: 5px;
    border: 1px solid #D5D4D8;
    text-indent: 5px;
}

.form--button {
    grid-column: 1 / -1;
    font-family: "Karla", sans-serif;
    border-radius: 5px;
    background: linear-gradient(90deg, #1a3b6d 1.18%, #3a81c4 100%);
    color: white;
    border: none;
    cursor: pointer;
}

.meme {
    position: relative;
}

.meme--image {
    max-width: 600px;
    border-radius: 3px;
}

.meme--text {
    position: absolute;
    width: 80%;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    margin: 15px 0;
    padding: 0 5px;
    font-family: impact, sans-serif;
    font-size: 2em;
    text-transform: uppercase;
    color: white;
    letter-spacing: 1px;
    text-shadow: 2px 2px 0 #000, -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 0 2px 0 #000, 2px 0 0 #000, 0 -2px 0 #000, -2px 0 0 #000, 2px 2px 5px #000;
}

.bottom {
    bottom: 0;
}

.top {
    top: 0;
}

@media (max-width: 650px) {
    body {
        width: 650px;
        margin-top: 50px;
    }
    .meme--image {
        max-width: 500px;
    }
    header {
        max-width: 500px;
    }
}

@media (max-width: 380px) {
    body {
        width: 340px;
        margin-top: 50px;
    }
}
